# =============================================================================
# Dev Environment — Example Variables
#
# cp dev.tfvars.example dev.tfvars
# terraform init -backend-config="bucket=YOUR-TFSTATE-BUCKET"
# terraform plan  -var-file=dev.tfvars
# terraform apply -var-file=dev.tfvars
# =============================================================================

project_id    = "my-gcp-project-dev"
region        = "europe-west1"
environment   = "dev"
naming_prefix = "procwatch"

bucket_location = "EU"
bq_location     = "EU"

dataproc_subnet_cidr = "10.100.0.0/24"

# Set after first docker build & push
downloader_image_tag     = "latest"
# dataproc_container_image = "europe-west1-docker.pkg.dev/my-gcp-project-dev/spark/procurement-spark:abc1234"

# Daily pipeline schedule — 03:00 UTC
schedule_cron = "0 3 * * *"
time_zone     = "Europe/Warsaw"
